body {
    background-color: rgb(230, 230, 230);
}

div {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 3px solid blueviolet;
}

h1 {
    color: blueviolet;
}

p {
    color: gray;
}

img {
    border: 2px solid blueviolet;
    border-radius: 1px;
    padding: 12px;
}